In [9]:
#What is the min, max and mean temperatures for each month at EWR?
import pandas as pd
df = pd.read_csv('weather.csv')
df2 = df[["origin","month","temp"]]
df2 = df2[df.origin == 'EWR']
df2

     origin  month   temp
0       EWR    1.0  37.04
1       EWR    1.0  37.04
2       EWR    1.0  37.94
3       EWR    1.0  37.94
4       EWR    1.0  37.94
5       EWR    1.0  39.02
6       EWR    1.0  39.02
7       EWR    1.0  39.02
8       EWR    1.0  39.92
9       EWR    1.0  39.02
10      EWR    1.0  37.94
11      EWR    1.0  39.02
12      EWR    1.0  39.92
13      EWR    1.0  39.92
14      EWR    1.0  41.00
15      EWR    1.0  41.00
16      EWR    1.0  39.20
17      EWR    1.0  39.20
18      EWR    1.0  39.02
19      EWR    1.0  37.94
20      EWR    1.0  37.04
21      EWR    1.0  35.96
22      EWR    1.0  33.98
23      EWR    1.0  33.08
24      EWR    1.0  32.00
25      EWR    1.0  30.02
26      EWR    1.0  28.94
27      EWR    1.0  28.04
28      EWR    1.0  26.96
29      EWR    1.0  26.06
...     ...    ...    ...
8679    EWR   12.0  42.80
8680    EWR   12.0  42.98
8681    EWR   12.0  42.08
8682    EWR   12.0  42.80
8683    EWR   12.0  42.80
8684    EWR   12.0  42.98
8685    EWR   12.0  42.80
8686    EWR   12.0  42.80
8687    EWR   12.0  42.98
8688    EWR   12.0  42.08
8689    EWR   12.0  42.08
8690    EWR   12.0  41.00
8691    EWR   12.0  37.94
8692    EWR   12.0  37.04
8693    EWR   12.0  37.04
8694    EWR   12.0  37.94
8695    EWR   12.0  37.04
8696    EWR   12.0  39.02
8697    EWR   12.0  39.92
8698    EWR   12.0  42.08
8699    EWR   12.0  44.96
8700    EWR   12.0  42.98
8701    EWR   12.0  41.00
8702    EWR   12.0  39.92
8703    EWR   12.0  37.94
8704    EWR   12.0  37.04
8705    EWR   12.0  35.06
8706    EWR   12.0  33.08
8707    EWR   12.0  30.92
8708    EWR   12.0  28.94

[8709 rows x 3 columns]

In [4]:
g = df2.groupby('month')
g

In [5]:
for month,month_df in g:
    print(month)
    print(month_df)

1.0
    origin  month   temp
0      EWR    1.0  37.04
1      EWR    1.0  37.04
2      EWR    1.0  37.94
3      EWR    1.0  37.94
4      EWR    1.0  37.94
5      EWR    1.0  39.02
6      EWR    1.0  39.02
7      EWR    1.0  39.02
8      EWR    1.0  39.92
9      EWR    1.0  39.02
10     EWR    1.0  37.94
11     EWR    1.0  39.02
12     EWR    1.0  39.92
13     EWR    1.0  39.92
14     EWR    1.0  41.00
15     EWR    1.0  41.00
16     EWR    1.0  39.20
17     EWR    1.0  39.20
18     EWR    1.0  39.02
19     EWR    1.0  37.94
20     EWR    1.0  37.04
21     EWR    1.0  35.96
22     EWR    1.0  33.98
23     EWR    1.0  33.08
24     EWR    1.0  32.00
25     EWR    1.0  30.02
26     EWR    1.0  28.94
27     EWR    1.0  28.04
28     EWR    1.0  26.96
29     EWR    1.0  26.06
..     ...    ...    ...
713    EWR    1.0  64.04
714    EWR    1.0  64.40
715    EWR    1.0  55.94
716    EWR    1.0  59.00
717    EWR    1.0  57.20
718    EWR    1.0  60.80
719    EWR    1.0  51.98
720    EWR    1.0  51.98
721    EWR    1.0  59.00
722    EWR    1.0  62.06
723    EWR    1.0  62.06
724    EWR    1.0  62.60
725    EWR    1.0  60.80
726    EWR    1.0  62.06
727    EWR    1.0  62.06
728    EWR    1.0  60.80
729    EWR    1.0  59.00
730    EWR    1.0  57.20
731    EWR    1.0  48.20
732    EWR    1.0  46.04
733    EWR    1.0  44.06
734    EWR    1.0  44.96
735    EWR    1.0  46.04
736    EWR    1.0  46.04
737    EWR    1.0  44.96
738    EWR    1.0  44.06
739    EWR    1.0  42.08
740    EWR    1.0  39.02
741    EWR    1.0  35.96
742    EWR    1.0  35.06

[743 rows x 3 columns]
2.0
     origin  month   temp
743     EWR    2.0  33.08
744     EWR    2.0  32.00
745     EWR    2.0  32.00
746     EWR    2.0  30.92
747     EWR    2.0  30.02
748     EWR    2.0  28.94
749     EWR    2.0  28.94
750     EWR    2.0  28.04
751     EWR    2.0  28.04
752     EWR    2.0  28.04
753     EWR    2.0  28.04
754     EWR    2.0  28.94
755     EWR    2.0  28.94
756     EWR    2.0  30.02
757     EWR    2.0  30.02
758     EWR    2.0  30.02
759     EWR    2.0  32.00
760     EWR    2.0  30.92
761     EWR    2.0  33.98
762     EWR    2.0  33.08
763     EWR    2.0  30.92
764     EWR    2.0  30.20
765     EWR    2.0  26.96
766     EWR    2.0  26.06
767     EWR    2.0  24.98
768     EWR    2.0  24.98
769     EWR    2.0  24.98
770     EWR    2.0  24.08
771     EWR    2.0  24.08
772     EWR    2.0  23.00
...     ...    ...    ...
1382    EWR    2.0  44.60
1383    EWR    2.0  46.40
1384    EWR    2.0  46.40
1385    EWR    2.0  48.20
1386    EWR    2.0  46.04
1387    EWR    2.0  44.96
1388    EWR    2.0  46.04
1389    EWR    2.0  44.96
1390    EWR    2.0  44.96
1391    EWR    2.0  44.06
1392    EWR    2.0  42.98
1393    EWR    2.0  42.98
1394    EWR    2.0  42.98
1395    EWR    2.0  42.08
1396    EWR    2.0  42.98
1397    EWR    2.0  42.08
1398    EWR    2.0  42.08
1399    EWR    2.0  42.08
1400    EWR    2.0  42.98
1401    EWR    2.0  44.06
1402    EWR    2.0  44.96
1403    EWR    2.0  48.02
1404    EWR    2.0  50.00
1405    EWR    2.0  48.92
1406    EWR    2.0  48.92
1407    EWR    2.0  48.02
1408    EWR    2.0  46.04
1409    EWR    2.0  46.04
1410    EWR    2.0  44.96
1411    EWR    2.0  44.06

[669 rows x 3 columns]
3.0
     origin  month   temp
1412    EWR    3.0  42.08
1413    EWR    3.0  42.08
1414    EWR    3.0  39.92
1415    EWR    3.0  39.02
1416    EWR    3.0  37.94
1417    EWR    3.0  37.04
1418    EWR    3.0  35.96
1419    EWR    3.0  35.96
1420    EWR    3.0  35.06
1421    EWR    3.0  35.96
1422    EWR    3.0  35.06
1423    EWR    3.0  35.96
1424    EWR    3.0  39.92
1425    EWR    3.0  42.08
1426    EWR    3.0  42.08
1427    EWR    3.0  42.08
1428    EWR    3.0  44.06
1429    EWR    3.0  44.96
1430    EWR    3.0  46.04
1431    EWR    3.0  44.06
1432    EWR    3.0  44.06
1433    EWR    3.0  42.98
1434    EWR    3.0  42.08
1435    EWR    3.0  41.00
1436    EWR    3.0  39.92
1437    EWR    3.0  39.92
1438    EWR    3.0  39.02
1439    EWR    3.0  37.94
1440    EWR    3.0  37.04
1441    EWR    3.0  35.96
...     ...    ...    ...
2126    EWR    3.0  59.00
2127    EWR    3.0  60.08
2128    EWR    3.0  60.08
2129    EWR    3.0  59.00
2130    EWR    3.0  57.02
2131    EWR    3.0  55.04
2132    EWR    3.0  53.96
2133    EWR    3.0  51.98
2134    EWR    3.0  48.02
2135    EWR    3.0  44.06
2136    EWR    3.0  46.04
2137    EWR    3.0  44.06
2138    EWR    3.0  42.98
2139    EWR    3.0  42.98
2140    EWR    3.0  42.08
2141    EWR    3.0  39.92
2142    EWR    3.0  41.00
2143    EWR    3.0  41.00
2144    EWR    3.0  44.06
2145    EWR    3.0  48.92
2146    EWR    3.0  51.98
2147    EWR    3.0  51.08
2148    EWR    3.0  55.04
2149    EWR    3.0  53.06
2150    EWR    3.0  51.98
2151    EWR    3.0  51.08
2152    EWR    3.0  51.08
2153    EWR    3.0  48.02
2154    EWR    3.0  46.94
2155    EWR    3.0  46.40

[743 rows x 3 columns]
4.0
     origin  month   temp
2156    EWR    4.0  46.40
2157    EWR    4.0  46.04
2158    EWR    4.0  46.40
2159    EWR    4.0  46.94
2160    EWR    4.0  46.40
2161    EWR    4.0  46.94
2162    EWR    4.0  46.40
2163    EWR    4.0  46.40
2164    EWR    4.0  44.96
2165    EWR    4.0  44.60
2166    EWR    4.0  42.98
2167    EWR    4.0  46.04
2168    EWR    4.0  48.92
2169    EWR    4.0  53.06
2170    EWR    4.0  55.04
2171    EWR    4.0  59.00
2172    EWR    4.0  62.96
2173    EWR    4.0  64.04
2174    EWR    4.0  62.06
2175    EWR    4.0  59.00
2176    EWR    4.0  48.92
2177    EWR    4.0  46.94
2178    EWR    4.0  46.94
2179    EWR    4.0  48.92
2180    EWR    4.0  46.04
2181    EWR    4.0  42.08
2182    EWR    4.0  39.92
2183    EWR    4.0  37.94
2184    EWR    4.0  37.04
2185    EWR    4.0  35.96
...     ...    ...    ...
2846    EWR    4.0  53.96
2847    EWR    4.0  55.04
2848    EWR    4.0  55.94
2849    EWR    4.0  55.94
2850    EWR    4.0  55.94
2851    EWR    4.0  55.04
2852    EWR    4.0  55.04
2853    EWR    4.0  53.06
2854    EWR    4.0  53.60
2855    EWR    4.0  53.60
2856    EWR    4.0  53.06
2857    EWR    4.0  53.60
2858    EWR    4.0  51.80
2859    EWR    4.0  51.80
2860    EWR    4.0  51.80
2861    EWR    4.0  53.06
2862    EWR    4.0  53.96
2863    EWR    4.0  55.04
2864    EWR    4.0  55.04
2865    EWR    4.0  57.92
2866    EWR    4.0  60.08
2867    EWR    4.0  62.96
2868    EWR    4.0  62.96
2869    EWR    4.0  64.04
2870    EWR    4.0  62.96
2871    EWR    4.0  62.06
2872    EWR    4.0  62.96
2873    EWR    4.0  60.98
2874    EWR    4.0  60.08
2875    EWR    4.0  57.92

[720 rows x 3 columns]
5.0
     origin  month   temp
2876    EWR    5.0  57.02
2877    EWR    5.0  55.94
2878    EWR    5.0  55.04
2879    EWR    5.0  53.96
2880    EWR    5.0  51.98
2881    EWR    5.0  53.06
2882    EWR    5.0  48.92
2883    EWR    5.0  44.96
2884    EWR    5.0  46.04
2885    EWR    5.0  44.06
2886    EWR    5.0  48.02
2887    EWR    5.0  53.96
2888    EWR    5.0  57.02
2889    EWR    5.0  60.98
2890    EWR    5.0  62.06
2891    EWR    5.0  64.04
2892    EWR    5.0  64.04
2893    EWR    5.0  64.04
2894    EWR    5.0  62.96
2895    EWR    5.0  62.06
2896    EWR    5.0  62.96
2897    EWR    5.0  60.08
2898    EWR    5.0  59.00
2899    EWR    5.0  55.40
2900    EWR    5.0  53.96
2901    EWR    5.0  53.06
2902    EWR    5.0  53.06
2903    EWR    5.0  51.98
2904    EWR    5.0  51.98
2905    EWR    5.0  51.08
...     ...    ...    ...
3590    EWR    5.0  91.94
3591    EWR    5.0  93.02
3592    EWR    5.0  93.02
3593    EWR    5.0  91.94
3594    EWR    5.0  91.04
3595    EWR    5.0  89.06
3596    EWR    5.0  87.08
3597    EWR    5.0  84.02
3598    EWR    5.0  84.02
3599    EWR    5.0  82.04
3600    EWR    5.0  80.06
3601    EWR    5.0  78.08
3602    EWR    5.0  77.00
3603    EWR    5.0  73.04
3604    EWR    5.0  73.94
3605    EWR    5.0  73.04
3606    EWR    5.0  75.02
3607    EWR    5.0  78.08
3608    EWR    5.0  80.96
3609    EWR    5.0  84.02
3610    EWR    5.0  87.98
3611    EWR    5.0  87.98
3612    EWR    5.0  91.04
3613    EWR    5.0  91.40
3614    EWR    5.0  91.94
3615    EWR    5.0  91.94
3616    EWR    5.0  93.02
3617    EWR    5.0  89.96
3618    EWR    5.0  91.04
3619    EWR    5.0  87.98

[744 rows x 3 columns]
6.0
     origin  month   temp
3620    EWR    6.0  87.08
3621    EWR    6.0  84.92
3622    EWR    6.0  82.04
3623    EWR    6.0  80.06
3624    EWR    6.0  78.08
3625    EWR    6.0  77.00
3626    EWR    6.0  75.92
3627    EWR    6.0  73.94
3628    EWR    6.0  73.04
3629    EWR    6.0  71.96
3630    EWR    6.0  73.94
3631    EWR    6.0  75.92
3632    EWR    6.0  78.98
3633    EWR    6.0  82.04
3634    EWR    6.0  84.02
3635    EWR    6.0  86.00
3636    EWR    6.0  87.98
3637    EWR    6.0  91.04
3638    EWR    6.0  89.96
3639    EWR    6.0  91.04
3640    EWR    6.0  91.94
3641    EWR    6.0  89.06
3642    EWR    6.0  87.98
3643    EWR    6.0  87.08
3644    EWR    6.0  84.02
3645    EWR    6.0  82.04
3646    EWR    6.0  80.96
3647    EWR    6.0  78.98
3648    EWR    6.0  78.08
3649    EWR    6.0  75.92
...     ...    ...    ...
4310    EWR    6.0  82.04
4311    EWR    6.0  84.02
4312    EWR    6.0  84.02
4313    EWR    6.0  82.94
4314    EWR    6.0  82.04
4315    EWR    6.0  80.96
4316    EWR    6.0  80.06
4317    EWR    6.0  80.96
4318    EWR    6.0  78.98
4319    EWR    6.0  77.00
4320    EWR    6.0  75.02
4321    EWR    6.0  73.94
4322    EWR    6.0  75.02
4323    EWR    6.0  73.94
4324    EWR    6.0  73.04
4325    EWR    6.0  73.94
4326    EWR    6.0  73.40
4327    EWR    6.0  75.92
4328    EWR    6.0  75.20
4329    EWR    6.0  78.98
4330    EWR    6.0  82.04
4331    EWR    6.0  82.40
4332    EWR    6.0  84.92
4333    EWR    6.0  82.40
4334    EWR    6.0  77.00
4335    EWR    6.0  78.08
4336    EWR    6.0  80.06
4337    EWR    6.0  80.06
4338    EWR    6.0  80.06
4339    EWR    6.0  75.92

[720 rows x 3 columns]
7.0
     origin  month   temp
4340    EWR    7.0  75.20
4341    EWR    7.0  75.20
4342    EWR    7.0  73.40
4343    EWR    7.0  75.20
4344    EWR    7.0  75.20
4345    EWR    7.0  75.02
4346    EWR    7.0  75.02
4347    EWR    7.0  73.94
4348    EWR    7.0  75.02
4349    EWR    7.0  75.02
4350    EWR    7.0  75.92
4351    EWR    7.0  75.20
4352    EWR    7.0  78.08
4353    EWR    7.0  77.00
4354    EWR    7.0  73.40
4355    EWR    7.0  73.40
4356    EWR    7.0  78.08
4357    EWR    7.0  75.92
4358    EWR    7.0  75.20
4359    EWR    7.0  77.00
4360    EWR    7.0  77.00
4361    EWR    7.0  77.00
4362    EWR    7.0  77.00
4363    EWR    7.0  77.00
4364    EWR    7.0  75.92
4365    EWR    7.0  75.20
4366    EWR    7.0  75.92
4367    EWR    7.0  75.92
4368    EWR    7.0  75.02
4369    EWR    7.0  75.02
...     ...    ...    ...
5051    EWR    7.0  82.04
5052    EWR    7.0  80.96
5053    EWR    7.0  82.04
5054    EWR    7.0  80.96
5055    EWR    7.0  80.06
5056    EWR    7.0  80.06
5057    EWR    7.0  78.08
5058    EWR    7.0  75.92
5059    EWR    7.0  75.02
5060    EWR    7.0  73.04
5061    EWR    7.0  73.04
5062    EWR    7.0  73.04
5063    EWR    7.0  69.98
5064    EWR    7.0  66.92
5065    EWR    7.0  66.92
5066    EWR    7.0  66.02
5067    EWR    7.0  68.00
5068    EWR    7.0  73.04
5069    EWR    7.0  75.92
5070    EWR    7.0  78.08
5071    EWR    7.0  80.96
5072    EWR    7.0  78.98
5073    EWR    7.0  82.04
5074    EWR    7.0  80.96
5075    EWR    7.0  80.06
5076    EWR    7.0  80.96
5077    EWR    7.0  80.06
5078    EWR    7.0  78.98
5079    EWR    7.0  78.98
5080    EWR    7.0  77.00

[741 rows x 3 columns]
8.0
     origin  month   temp
5081    EWR    8.0  75.92
5082    EWR    8.0  73.94
5083    EWR    8.0  73.04
5084    EWR    8.0  73.04
5085    EWR    8.0  73.04
5086    EWR    8.0  71.60
5087    EWR    8.0  71.96
5088    EWR    8.0  71.96
5089    EWR    8.0  71.96
5090    EWR    8.0  71.96
5091    EWR    8.0  73.04
5092    EWR    8.0  73.94
5093    EWR    8.0  75.02
5094    EWR    8.0  73.04
5095    EWR    8.0  69.98
5096    EWR    8.0  69.08
5097    EWR    8.0  69.80
5098    EWR    8.0  69.08
5099    EWR    8.0  69.08
5100    EWR    8.0  69.80
5101    EWR    8.0  71.06
5102    EWR    8.0  71.06
5103    EWR    8.0  71.06
5104    EWR    8.0  71.60
5105    EWR    8.0  71.06
5106    EWR    8.0  71.06
5107    EWR    8.0  71.06
5108    EWR    8.0  71.60
5109    EWR    8.0  71.06
5110    EWR    8.0  71.60
...     ...    ...    ...
5791    EWR    8.0  82.94
5792    EWR    8.0  84.02
5793    EWR    8.0  84.02
5794    EWR    8.0  82.04
5795    EWR    8.0  82.04
5796    EWR    8.0  80.06
5797    EWR    8.0  78.98
5798    EWR    8.0  77.00
5799    EWR    8.0  77.00
5800    EWR    8.0  75.92
5801    EWR    8.0  75.02
5802    EWR    8.0  73.94
5803    EWR    8.0  73.04
5804    EWR    8.0  73.04
5805    EWR    8.0  71.96
5806    EWR    8.0  71.60
5807    EWR    8.0  73.04
5808    EWR    8.0  73.94
5809    EWR    8.0  75.02
5810    EWR    8.0  77.00
5811    EWR    8.0  77.00
5812    EWR    8.0  80.06
5813    EWR    8.0  82.94
5814    EWR    8.0  84.92
5815    EWR    8.0  86.00
5816    EWR    8.0  86.00
5817    EWR    8.0  84.92
5818    EWR    8.0  87.08
5819    EWR    8.0  84.92
5820    EWR    8.0  84.02

[740 rows x 3 columns]
9.0
     origin  month   temp
5821    EWR    9.0  82.94
5822    EWR    9.0  80.96
5823    EWR    9.0  80.06
5824    EWR    9.0  78.98
5825    EWR    9.0  80.06
5826    EWR    9.0  78.08
5827    EWR    9.0  75.92
5828    EWR    9.0  75.92
5829    EWR    9.0  75.20
5830    EWR    9.0  73.40
5831    EWR    9.0  73.94
5832    EWR    9.0  75.02
5833    EWR    9.0  77.00
5834    EWR    9.0  77.00
5835    EWR    9.0  77.00
5836    EWR    9.0  78.80
5837    EWR    9.0  80.60
5838    EWR    9.0  82.94
5839    EWR    9.0  82.40
5840    EWR    9.0  82.94
5841    EWR    9.0  82.04
5842    EWR    9.0  80.96
5843    EWR    9.0  80.06
5844    EWR    9.0  78.98
5845    EWR    9.0  77.00
5846    EWR    9.0  78.08
5847    EWR    9.0  77.00
5848    EWR    9.0  75.92
5849    EWR    9.0  75.20
5850    EWR    9.0  75.20
...     ...    ...    ...
6510    EWR    9.0  69.98
6511    EWR    9.0  69.08
6512    EWR    9.0  68.00
6513    EWR    9.0  66.02
6514    EWR    9.0  64.04
6515    EWR    9.0  62.96
6516    EWR    9.0  62.96
6517    EWR    9.0  62.06
6518    EWR    9.0  62.06
6519    EWR    9.0  57.92
6520    EWR    9.0  57.02
6521    EWR    9.0  55.94
6522    EWR    9.0  53.96
6523    EWR    9.0  53.96
6524    EWR    9.0  53.96
6525    EWR    9.0  55.04
6526    EWR    9.0  53.06
6527    EWR    9.0  55.94
6528    EWR    9.0  59.00
6529    EWR    9.0  64.04
6530    EWR    9.0  66.92
6531    EWR    9.0  71.06
6532    EWR    9.0  73.04
6533    EWR    9.0  71.96
6534    EWR    9.0  71.96
6535    EWR    9.0  71.96
6536    EWR    9.0  71.96
6537    EWR    9.0  69.98
6538    EWR    9.0  68.00
6539    EWR    9.0  66.02

[719 rows x 3 columns]
10.0
     origin  month   temp
6540    EWR   10.0  64.94
6541    EWR   10.0  62.96
6542    EWR   10.0  62.06
6543    EWR   10.0  60.08
6544    EWR   10.0  59.00
6545    EWR   10.0  57.92
6546    EWR   10.0  57.92
6547    EWR   10.0  57.02
6548    EWR   10.0  55.94
6549    EWR   10.0  53.06
6550    EWR   10.0  55.04
6551    EWR   10.0  57.02
6552    EWR   10.0  62.96
6553    EWR   10.0  69.08
6554    EWR   10.0  73.94
6555    EWR   10.0  78.08
6556    EWR   10.0  80.06
6557    EWR   10.0  80.96
6558    EWR   10.0  82.04
6559    EWR   10.0  82.04
6560    EWR   10.0  80.96
6561    EWR   10.0  78.08
6562    EWR   10.0  75.92
6563    EWR   10.0  73.94
6564    EWR   10.0  71.96
6565    EWR   10.0  71.06
6566    EWR   10.0  69.08
6567    EWR   10.0  66.92
6568    EWR   10.0  62.96
6569    EWR   10.0  60.98
...     ...    ...    ...
7246    EWR   10.0  62.06
7247    EWR   10.0  60.08
7248    EWR   10.0  60.08
7249    EWR   10.0  59.00
7250    EWR   10.0  57.92
7251    EWR   10.0  57.92
7252    EWR   10.0  57.20
7253    EWR   10.0  57.20
7254    EWR   10.0  55.94
7255    EWR   10.0  53.06
7256    EWR   10.0  53.06
7257    EWR   10.0  53.60
7258    EWR   10.0  53.96
7259    EWR   10.0  51.98
7260    EWR   10.0  53.06
7261    EWR   10.0  53.96
7262    EWR   10.0  55.94
7263    EWR   10.0  55.94
7264    EWR   10.0  57.20
7265    EWR   10.0  60.98
7266    EWR   10.0  64.04
7267    EWR   10.0  64.40
7268    EWR   10.0  64.40
7269    EWR   10.0  62.60
7270    EWR   10.0  64.04
7271    EWR   10.0  64.94
7272    EWR   10.0  66.02
7273    EWR   10.0  68.00
7274    EWR   10.0  66.92
7275    EWR   10.0  64.94

[736 rows x 3 columns]
11.0
     origin  month   temp
7276    EWR   11.0  64.94
7277    EWR   11.0  64.94
7278    EWR   11.0  64.04
7279    EWR   11.0  64.04
7280    EWR   11.0  64.04
7281    EWR   11.0  64.94
7282    EWR   11.0  64.94
7283    EWR   11.0  66.02
7284    EWR   11.0  66.92
7285    EWR   11.0  69.98
7286    EWR   11.0  69.98
7287    EWR   11.0  69.08
7288    EWR   11.0  69.08
7289    EWR   11.0  69.08
7290    EWR   11.0  64.40
7291    EWR   11.0  64.04
7292    EWR   11.0  64.94
7293    EWR   11.0  68.00
7294    EWR   11.0  71.06
7295    EWR   11.0  69.98
7296    EWR   11.0  69.98
7297    EWR   11.0  68.00
7298    EWR   11.0  66.02
7299    EWR   11.0  64.04
7300    EWR   11.0  62.96
7301    EWR   11.0  60.08
7302    EWR   11.0  60.08
7303    EWR   11.0  59.00
7304    EWR   11.0  59.00
7305    EWR   11.0  57.02
...     ...    ...    ...
7960    EWR   11.0  39.92
7961    EWR   11.0  37.94
7962    EWR   11.0  37.40
7963    EWR   11.0  35.06
7964    EWR   11.0  33.98
7965    EWR   11.0  33.98
7966    EWR   11.0  33.08
7967    EWR   11.0  30.92
7968    EWR   11.0  30.92
7969    EWR   11.0  28.94
7970    EWR   11.0  28.04
7971    EWR   11.0  26.96
7972    EWR   11.0  24.08
7973    EWR   11.0  26.06
7974    EWR   11.0  24.98
7975    EWR   11.0  24.98
7976    EWR   11.0  24.08
7977    EWR   11.0  23.00
7978    EWR   11.0  24.98
7979    EWR   11.0  28.04
7980    EWR   11.0  30.92
7981    EWR   11.0  33.08
7982    EWR   11.0  33.98
7983    EWR   11.0  35.06
7984    EWR   11.0  35.96
7985    EWR   11.0  35.96
7986    EWR   11.0  37.04
7987    EWR   11.0  37.04
7988    EWR   11.0  37.40
7989    EWR   11.0  37.40

[714 rows x 3 columns]
12.0
     origin  month   temp
7990    EWR   12.0  37.40
7991    EWR   12.0  37.94
7992    EWR   12.0  37.04
7993    EWR   12.0  37.04
7994    EWR   12.0  37.04
7995    EWR   12.0  35.96
7996    EWR   12.0  35.60
7997    EWR   12.0  37.04
7998    EWR   12.0  35.96
7999    EWR   12.0  35.60
8000    EWR   12.0  35.06
8001    EWR   12.0  33.80
8002    EWR   12.0  35.06
8003    EWR   12.0  39.02
8004    EWR   12.0  42.08
8005    EWR   12.0  44.96
8006    EWR   12.0  46.04
8007    EWR   12.0  48.02
8008    EWR   12.0  48.02
8009    EWR   12.0  50.00
8010    EWR   12.0  48.02
8011    EWR   12.0  48.02
8012    EWR   12.0  46.94
8013    EWR   12.0  48.02
8014    EWR   12.0  46.94
8015    EWR   12.0  42.08
8016    EWR   12.0  44.06
8017    EWR   12.0  44.06
8018    EWR   12.0  42.98
8019    EWR   12.0  42.08
...     ...    ...    ...
8679    EWR   12.0  42.80
8680    EWR   12.0  42.98
8681    EWR   12.0  42.08
8682    EWR   12.0  42.80
8683    EWR   12.0  42.80
8684    EWR   12.0  42.98
8685    EWR   12.0  42.80
8686    EWR   12.0  42.80
8687    EWR   12.0  42.98
8688    EWR   12.0  42.08
8689    EWR   12.0  42.08
8690    EWR   12.0  41.00
8691    EWR   12.0  37.94
8692    EWR   12.0  37.04
8693    EWR   12.0  37.04
8694    EWR   12.0  37.94
8695    EWR   12.0  37.04
8696    EWR   12.0  39.02
8697    EWR   12.0  39.92
8698    EWR   12.0  42.08
8699    EWR   12.0  44.96
8700    EWR   12.0  42.98
8701    EWR   12.0  41.00
8702    EWR   12.0  39.92
8703    EWR   12.0  37.94
8704    EWR   12.0  37.04
8705    EWR   12.0  35.06
8706    EWR   12.0  33.08
8707    EWR   12.0  30.92
8708    EWR   12.0  28.94

[719 rows x 3 columns]

In [6]:
g2 = g.mean()
g2

            temp
month
1.0    35.563176
2.0    34.160269
3.0    40.043311
4.0    52.901000
5.0    63.103710
6.0    73.249500
7.0    80.651741
8.0    74.458078
9.0    67.355855
10.0   59.719755
11.0   44.698571
12.0   37.887928

In [7]:
g3 = g.max()
g3

      origin    temp
month
1.0      EWR   64.40
2.0      EWR   55.94
3.0      EWR   60.08
4.0      EWR   84.02
5.0      EWR   93.02
6.0      EWR   93.92
7.0      EWR  100.04
8.0      EWR   89.96
9.0      EWR   95.00
10.0     EWR   89.06
11.0     EWR   71.06
12.0     EWR   71.60

In [8]:
g4 = g.min()
g4

      origin   temp
month
1.0      EWR  10.94
2.0      EWR  15.98
3.0      EWR  26.06
4.0      EWR  30.92
5.0      EWR  42.98
6.0      EWR  55.04
7.0      EWR  64.04
8.0      EWR  59.00
9.0      EWR  48.02
10.0     EWR  33.08
11.0     EWR  21.02
12.0     EWR  17.96